    <nav class="navbar navbar-inverter navbar-fixed-top navbar-reprograma">
        <div class="container">
            <div class="navbar-brand">
                <img class="navbar-brand-acad" src="/img/logo@2x.png">
            </div>
        </div>
    </nav>
    
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
       
            <div class="navbar-header"> 
                <h3 style="color: black">Administração</h3>
            </div>
            <div class="collapse navbar-collapse">			
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/loginUsuario"><button class="btn btn-danger glyphicon glyphicon-log-out"> Sair </button></a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    
    <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- Menu -->
                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        <i class="fa fa-users fa-lg"> Clientes </i> <span class="caret"></span>
                                    </a>
                                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li>
                                                    <a href="/funcionario/listFun"> <i class="fa fa-user"> Treinadores </i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#dropdown-lvl2">
                                            <i class="fa fa-user-plus fa-lg"> Cadastro </i> <span class="caret"></span>
                                        </a>
                                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li>
                                                        <a href="/usuario/cadastroCli"> <i class="fa fa-user-plus"> Clientes </i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/funcionario/cadastroFun"> <i class="fa fa-user-plus"> Treinadores </i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                <li>
                                <a href="#">
                                    <i class="fa fa-book fa-lg"> Relatorios </i> </a>
                                </li>   
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>  
    
        <div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadastro de Clientes
                </div>
                <div class="panel-body">
                    <form action="/add/usuario" class="form-horizontal" method="POST">
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="nome">Nome</label>
                            <div class="col-md-10">
                                <input id="nome" type="text" name="nome" placeholder="Nome do usuário" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="rg">RG</label>
                            <div class="col-md-10">
                                <input id="rg" type="text" name="rg" maxlength="8"  placeholder="x.xxx.xxx"
                                    class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="cpf">CPF</label>
                            <div class="col-md-10">
                                <input id="cpf" type="text" name="cpf" maxlength="14" onkeypress= "this.value = FormataCPF(event)" placeholder="xxx.xxx.xxx-xx"
                                    class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                          <label class="col-md-2 control-label" for="email">Email</label>
                          <div class="col-md-10">
                              <input id="email" name="email" type="email" placeholder="exemplo@email.com" class="form-control input-md" required="">
                          </div>
                        </div> 
                        <!-- Text input-->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="telefone">Tel.</label>
                            <div class="col-md-10">
                                <input id="telefone" type="text" name="telefone" maxlength="20" onkeypress="this.value = FormataTelefone(event)" placeholder="(xx) x xxxx-xxxx"
                                    class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="sexo">Sexo</label>
                            <div class="col-md-10">
                                <select id="sexo" name="sexo" class="form-control">
                                    <option value="" disabled selected> Informe seu Sexo </option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="estado">Estado</label>
                            <div class="col-md-10">
                                <input id="estado" name="estado" type="text" placeholder="Estado" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="cidade">Cidade</label>
                            <div class="col-md-10">
                                <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="bairro">Bairro</label>
                            <div class="col-md-10">
                                <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="cep">CEP</label>
                            <div class="col-md-10">
                                <input id="cep" name="cep" type="text" maxlength="10" onkeypress="this.value = FormataCEP(event)" placeholder="CEP" class="form-control input-md" required="">
                            </div>
                        </div> 
                    
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="senha">Senha</label>
                            <div class="col-md-10">
                                <input id="senha" name="senha" type="text" placeholder="Senha" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="plano">Plano</label>
                            <div class="col-md-10">
                                <select id="plano" name="plano" class="form-control">
                                    <option value="" disabled selected> Informe seu Plano </option>
                                    <option value="Básico">Básico</option>
                                    <option value="Intermediário">Intermediário</option>
                                    <option value="Musculação">Musculação</option>
                                </select>
                            </div>
                        </div> 
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Confirmar">
                                <a href="/usuario/listCli"><input type="button" class="btn btn-danger"  value="Cancelar"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>