<nav class="navbar navbar-inverter navbar-fixed-top navbar-reprograma">
    <div class="container">
        <div class="navbar-header">
            <a href="/loginUsuario">
                <button class="navbar-toggle">
                    <i class="fa fa-sign-out-alt" style="color: red"></i>
                </button>
            </a>
            <div class="navbar-brand">
                <img class="navbar-brand-acad" src="/img/logo@2x.png">
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar2" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand" style="margin-top: 8px;">Administração</div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/loginUsuario">
                        <button class="btn btn-danger"> Sair
                            <i class="fa fa-sign-out-alt fa-lg"></i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <div class="row collapse navbar-collapse" id="navbar2">
            <!-- Menu -->
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side menu-container">
                        <ul class="nav navbar-nav">
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl1">
                                    <i class="fa fa-users fa-lg"></i> Clientes
                                    <span class="caret"></span>
                                </a>
                                <div id="dropdown-lvl1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/cliente/listCli">
                                                    <i class="fa fa-user"></i> Cliente </a>
                                            </li>
                                            <li>
                                                <a href="/usuario/listUse">
                                                    <i class="fa fa-user"></i> Usuários </a>
                                            </li>
                                            <li>
                                                <a href="/treinador/listTrei">
                                                    <i class="fa fa-user"></i> Treinador </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl2">
                                        <i class="fa fa-user-plus fa-lg"></i> Cadastro
                                        <span class="caret"></span>
                                    </a>
                                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li>
                                                    <a href="/cliente/cadastroCli">
                                                        <i class="fa fa-user-plus"></i> Cliente </a>
                                                </li>

                                                <li>
                                                    <a href="/treinador/cadastroTrei">
                                                        <i class="fa fa-user-plus"></i> Treinador </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/relatorios/listCli">
                                        <i class="fa fa-clipboard-list fa-lg"></i> Relatórios </a>
                                </li>
                                <li>
                                    <a href="/relatorios/financas">
                                        <i class="fa fa-hand-holding-usd fa-lg "></i> Finanças </a>
                                </li>
                                <li>
                                    <a href="/relatorios/moviment">
                                        <i class="fa fa-history fa-lg"></i> Movimentação </a>
                                </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cadastro de Usuário
            </div>
            <div class="panel-body">
                <form action="/add/usuario" class="form-horizontal" method="POST">
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="nome">Nome</label>
                        <div class="col-md-10">
                            <input id="nome" type="text" name="nome" placeholder="Nome do usuário" class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="rg">RG</label>
                        <div class="col-md-10">
                            <input id="rg" type="text" name="rg" maxlength="8" placeholder="x.xxx.xxx" class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="cpf">CPF</label>
                        <div class="col-md-10">
                            <input id="cpf" type="text" name="cpf" maxlength="14" onkeypress="this.value = FormataCPF(event)" placeholder="xxx.xxx.xxx-xx"
                                class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="email">Email</label>
                        <div class="col-md-10">
                            <input id="email" name="email" type="email" placeholder="exemplo@email.com" class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="telefone">Tel.</label>
                        <div class="col-md-10">
                            <input id="telefone" type="text" name="telefone" maxlength="20" onkeypress="this.value = FormataTelefone(event)" placeholder="(xx) x xxxx-xxxx"
                                class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="senha">Senha</label>
                        <div class="col-md-10">
                            <input id="senha" name="senha" type="password" placeholder="Senha" class="form-control input-md" required="">
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Confirmar">
                        <a href="/usuario/listUse">
                            <input type="button" class="btn btn-danger" value="Cancelar">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</main>