h1.page-header-admin {
    margin-top: -5px;
}

.sidebar-admin {
    padding-left: 0;
}

.main-container-admin { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer-admin {
    width: 100%;
    height: 100%;
}  