<nav class="navbar navbar-inverter navbar-fixed-top navbar-reprograma">
</nav>
    
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                </button>
                    <a class="navbar-brand" href="#">Admistração</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">			
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="">
                                <a href="#">Meus Dados</a>
                            </li>
                            <li class="">
                                <a href="#">Configurações</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/login">Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- Menu -->
                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        <span class="glyphicon glyphicon-user"></span> Cliente <span class="caret"></span>
                                    </a>
                                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li>
                                                    <a href="/admin/listAdmin"> Administrador </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#dropdown-lvl2">
                                            <span class="glyphicon glyphicon-plus"></span> Cadastro <span class="caret"></span>
                                        </a>
                                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li>
                                                        <a href="/admin/cadastroAdmin">Administrador</a>
                                                    </li>
                                                    <li>
                                                        <a href="/cliente/cadastroCli">Clientes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-list-alt"></span> Relatorios </a>
                                </li>   
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>  
    
        <div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadastro de Clientes
                </div>
                <div class="panel-body">
                    <form action="/add" class="form-horizontal" method="POST">
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="nome">Nome</label>
                            <div class="col-md-10">
                                <input id="nome" type="text" name="nome" placeholder="Nome do usuário" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="rg">RG</label>
                            <div class="col-md-10">
                                <input id="rg" type="text" name="rg" maxlength="8" onkeypress= "this.value = FormataRG(event)" placeholder="x.xxx.xxx"
                                    class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="cpf">CPF</label>
                            <div class="col-md-10">
                                <input id="cpf" type="text" name="cpf" maxlength="14" onkeypress= "this.value = FormataCPF(event)" placeholder="xxx.xxx.xxx-xx"
                                    class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                          <label class="col-md-2 control-label" for="email">Email</label>
                          <div class="col-md-10">
                              <input id="email" name="email" type="email" placeholder="exemplo@email.com" class="form-control input-md" required="">
                          </div>
                        </div> 
                        <!-- Text input-->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="telefone">Tel.</label>
                            <div class="col-md-10">
                                <input id="telefone" type="text" name="telefone" maxlength="20" onkeypress="this.value = FormataTelefone(event)" placeholder="(xx) x xxxx-xxxx"
                                    class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="sexo">Sexo</label>
                            <div class="col-md-10">
                                <select id="sexo" name="sexo" class="form-control">
                                    <option value="" disabled selected> Informe seu Sexo </option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="estado">Estado</label>
                            <div class="col-md-10">
                                <input id="estado" name="estado" type="text" placeholder="Estado" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="cidade">Cidade</label>
                            <div class="col-md-10">
                                <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="bairro">Bairro</label>
                            <div class="col-md-10">
                                <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="cep">CEP</label>
                            <div class="col-md-10">
                                <input id="cep" name="cep" type="text" maxlength="10" onkeypress="this.value = FormataCEP(event)" placeholder="CEP" class="form-control input-md" required="">
                            </div>
                        </div> 
                    
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="senha">Senha</label>
                            <div class="col-md-10">
                                <input id="senha" name="senha" type="text" placeholder="Senha" class="form-control input-md" required="">
                            </div>
                        </div> 
                        <!-- Text input -->
                        <div class="form-group col-md-5">
                            <label class="col-md-2 control-label" for="plano">Plano</label>
                            <div class="col-md-10">
                                <select id="plano" name="plano" class="form-control">
                                    <option value="Básico">Básico</option>
                                    <option value="Intermediário">Intermediário</option>
                                    <option value="Musculação">Musculação</option>
                                </select>
                            </div>
                        </div> 
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Confirmar">
                                <a href="/cliente/listCli"><input type="button" class="btn btn-danger"  value="Cancelar"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>