<div class="container">
      <div class="row">
                  <section id="contact">
                        <div class="text-center">
                              <div class="row">
                                    <div class="col-lg-12 mx-auto, text-center">
                                          <h1 class="section-heading" style="color: black">Contato</h1>
                                                <hr class="my-4">
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-lg-6 ml-auto text-center">
                                          <h4> <i class="glyphicon glyphicon-earphone"></i> (89) 9 99934-5978</h4>
                                          <h4> <i class="glyphicon glyphicon-earphone"></i> (89) 9 99894-8964</h4>
                                                <hr class="my-4">
                                          <h4> Av. Madre Benvenuta, 1572 Santa Mônica - Picos - PI </h4>
                                                <hr class="my-4">
                                          <h3>Horario de Funcionamento</h3>
                                          <div class="row">
                                                <div class="col-lg-6"> 
                                                      <h3>Seg-Sex:</h3>
                                                      <h3>Sáb:</h3>
                                                </div>
                                                <div>
                                                      <h3>06:30 às 23:00</h3>
                                                      <h3>09:00 às 12:00</h3>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-6 ">
                                          <form>
                                                <input id="nome"  placeholder="Digite Seu Nome" class="form-control input-md" required="" type="text">
                                                      <p></p>
                                                <input id="textinput" name="textinput" placeholder="email@email.com" class="form-control input-md" required="" type="email">
                                                      <p></p>
                                                <input id="message" name="telefone" placeholder="Telefone" class="form-control input-md" required="" type="number">
                                                      <p></p>
                                                <input type="text" name="cidade" placeholder="Cidade" class="form-control input-md" required="" type="text">
                                                      <p></p>
                                                <textarea class="form-control input-md" rows="5" placeholder="Messagem"></textarea>
                                                <div class="col-lg-2">
                                                      <p></p>
                                                <input id="recuperar" type="submit" value="Enviar" class="btn btn-primary">
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </section>
            </div>
      </div>
</div>