<!-- Corpo da página -->
        <div class="jumbotron">
                <div class="container"> 
                        <h1 class="text-center">ACADEMIA ADS</h1>
                        <p>Na Academia ADS você encontro a melhor qualidade de equipamentos e instrutores, 
                            também diponibilizando o melhor ambiente possível juntamento com os melhores aparelhos 
                            da atualidade venha e faça parte dessa grande familia
                        </p>
                </div>
        </div>
        <div class="row container">
                <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                                <img src="/img/img2.jpg" alt="...">
                        </div>
                </div>
                <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                                <img src="/img/img5.jpg" alt="...">
                        </div>
                </div>
                <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                                <img src="/img/img6.jpg" alt="...">
                        </div>
                </div>
                <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                                <img src="/img/img4.jpg" alt="...">
                        </div>
                </div>
        </div>
</div>

