<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">ACADEMIA ADS</h1>
        <p> Na Academia ADS você encontra a melhor qualidade de equipamentos e instrutores, também diponibilizando o melhor ambiente
            possível juntamente com os melhores aparelhos da atualidade, venha e faça parte dessa grande família.
        </p>
    </div>
</div>

<div class="row container">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail zoom">
            <img class="zoom" src="/img/img2.jpg" alt="...">
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="thumbnail zoom">
            <img class="zoom" src="/img/img5.jpg" alt="...">
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="thumbnail zoom">
            <img class="zoom" src="/img/img6.jpg" alt="...">
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="thumbnail zoom">
            <img class="zoom" src="/img/img4.jpg" alt="...">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <section id="contact">
            <div class="text-center">
                <div class="row">
                    <div class="col-lg-12 mx-auto, text-center">
                        <h1 class="section-heading">Contato</h1>
                        <hr class="my-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ml-auto text-center">
                        <h4 style="color: white"> Av. Madre Benvenuta, 1572 Santa Mônica - Picos - PI </h4>
                        <hr class="my-4">
                        <h4 style="color: white">
                            <i class="fa fa-whatsapp fa-lg"></i> (89) 9 99934-5978</h4>
                        <h4 style="color: white">
                            <i class="fa fa-whatsapp fa-lg"></i> (89) 9 99894-8964</h4>
                        <hr class="my-4">
                        <h3>Horario de Funcionamento</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>Seg-Sex:</h3>
                                <h3>Sáb:</h3>
                            </div>
                            <div>
                                <h3>06:30 às 23:00</h3>
                                <h3>09:00 às 12:00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="color: white">
                        <div class="text-left">
                            <a href="https://www.instagram.com/?hl=pt-br" target="_blank">
                                <h4>
                                    <i class="fa fa-instagram fa-lg"></i> Instagram</h4>
                            </a>
                            <hr class="my-4">
                            <a href="https://pt-br.facebook.com/login/" target="_blank">
                                <h4>
                                    <i class="fa fa-facebook-square fa-lg"></i> Facebook</h4>
                            </a>
                            <hr class="my-4">
                            <a href="https://www.youtube.com/" target="_blank">
                                <h4>
                                    <i class="fa fa-youtube-square fa-lg"></i> Youtube</h4>
                            </a>
                            <hr class="my-4">
                            <a href="https://www.google.com/" target="_blank">
                                <h4>
                                    <i class="fa fa-google-plus-square fa-lg"></i> Google</h4>
                            </a>
                            <hr class="my-4">
                            <a href="https://twitter.com/login?lang=pt" target="_blank">
                                <h4>
                                    <i class="fa fa-twitter-square fa-lg"></i> Twitter</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</main>