<div class="container" align="center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="formulario-panel panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Faça login na sua conta</h3>
                </div>
                <div class="card card-container">
                    <form class="form-signin">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de Email" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
                        <div id="remember" class="checkbox">
                            <label> <input type="checkbox" value="remember-me"> Lembre-me </label>
                        </div>
                        <a href="list" class="btn btn-primary btn-block" type="button"> Entrar </a>
                    </form>
                    <!-- /form -->
                    <a href="recupera-senha" class="forgot-password">Esqueceu a senha ?</a>
                    <!--<a href="admin" class="forgot-password">Teste Admin</a>
                    <a href="user" class="forgot-password">Teste User</a> -->
                </div>
                <!-- /card-container -->
            </div>
        </div>
    </div>
</div>