<!-- #o-Academia -->
	<div class="row">
		<div class="col-sm-4 text-center">
			<div class="thumbnail zoom">
				<a href="#" data-toggle="modal" data-target="#modal1"><img class="zoom" src="img/academia/gluteo-23.jpg" style="width: 363px; height: 404px;"></a>
			</div>
				<h3 class="text-uppercase">Básico</h3>
				<p style="color: white">
					Treino adequado para quem quer se manter ativo, fazendo um treino 
					duas vezes por semana mais uma atividade de lazer nos sabados. 
				</p>
			<div class="modal fade" id="modal1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 style="color: black" >BÁSICO</h3>
						</div>
						<div  class="modal-body">
							<h3 style="color: black" >Treinos: Terças e Quintas </h3>
							<h3 style="color: black" >Corrida e Zumba: Sextas </h3>
							<h3 style="color: black">Valor: 30,00</h3>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal">Sair</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-sm-4 text-center">
			<div class=" thumbnail zoom">
				<a href="#" data-toggle="modal" data-target="#modal2"> <img class="zoom" src="img/academia/gluteo-6.jpg"  style="width: 363px; height: 404px;"></a> 
			</div>
			<h3 class="text-uppercase">Intermediário</h3>
			<ul class="list-unstyled">
				<p style="color: white">
					Treino adequado para manter a forma, fazendo treinamentos três vezes 
					por semana mais uma atividade de lazer nos sabados.
				</p>
			</ul>

			<div class="modal fade" id="modal2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 style="color: black">INTERMEDIÁRIO</h3>
						</div>
						<div class="modal-body">
							<h3 style="color: black">Treinos: Segunda, Quarta e Sextas</h3>
							<h3 style="color: black">Corrita e Zumba: Sabados</h3>
							<h3 style="color: black">Valor: 50,00</h3>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal">Sair</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-sm-4 text-center">
			<div class="thumbnail zoom">
				<a href="#" data-toggle="modal" data-target="#modal3"><img class="zoom" src="img/academia/local-10.jpg" style="width: 363px; height: 404px;"></a>
			</div>
			<h3 class="text-uppercase">Musculação</h3>
			<lu class="list-unstyled">
				<p style="color: white">
					Treino específico para Musculação de alto nivel 
					visando apenas o ganho de peso e massa muscular
					tendo um treinamento de segunda a sabado.
				</p>
			</lu>

			<div class="modal fade" id="modal3">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 style="color: black">MUSCULAÇÃO</h3>
						</div>
						<div class="modal-body">
							<h3 style="color: black"> Treinos: Segunda à Sabado </h3>
							<h3 style="color: black"> Valor: 80,00 </h3>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal">Sair</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>