<!-- #o-Academia -->
	<div class="row">
		<div class="col-sm-4 text-center">
			<div class="thumbnail zoom">
				<a href="#"><img class="zoom" src="img/academia/gluteo-23.jpg" style="width: 363px; height: 404px;"></a>
			</div>
				<h3 class="text-uppercase">Básico</h3>
			<ul class="list-unstyled">
				<li>Treinos || Terças e Quintas </li>
				<li>Corrida e Zumba || Sextas </li>
			</ul>
		</div>

		<div class="col-sm-4 text-center">
			<div class=" thumbnail zoom">
				<a href="#"> <img class="zoom" src="img/academia/gluteo-6.jpg"  style="width: 363px; height: 404px;"></a> 
			</div>
			<h3 class="text-uppercase">Intermediário</h3>
			<ul class="list-unstyled">
				<li>Treinos || Segunda, Quarta e Sextas</li>
				<li>Corrita e Zumba || Sabados</li> 
			</ul>
		</div>

		<div class="col-sm-4 text-center">
			<div class="thumbnail zoom">
				<a href="#"><img class="zoom" src="img/academia/local-10.jpg" style="width: 363px; height: 404px;"></a>
			</div>
			<h3 class="text-uppercase">Musculação</h3>
			<lu class="list-unstyled">
				<li> Treinos || Segunda à Sabado </li>
			</lu>
		</div>
	</div>