<%- contentFor('body') %>

      <div class="container">
            <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="formulario-panel panel panel-success">
                              <div class="panel-heading">
                                    <h3 class="panel-title">Envie Sua Menssagem</h3>
                              </div>
                              <div class="panel-body">
                                    <h3>Entre em contato com a equipe Site.com.br através do nosso e-mail suporte@site.com.br
                                          ou preenchendo o formulário de contato abaixo.</h3>
                                    <form role="form" method="post" action="php/formulario.php">
                                          <fieldset>
                                                <p></p>
                                                <input id="textnameinput" name="textnameinput" placeholder="Digite Seu Nome" class="form-control input-md" required="" type="text">
                                                <p></p>
                                                <input id="textinput" name="textinput" placeholder="email@email.com" class="form-control input-md" required="" type="email">
                                                <p></p>
                                                <input id="message" name="telefone" placeholder="Telefone" class="form-control input-md" required="" type="tel">
                                                <p></p>
                                                <input id="message" name="message" placeholder="Digite uma menssagem" class="form-control input-md" required="" type="text">
                                                <p></p>
                                                <span class="help-block">Insira um e-mail válido</span>
                                                <button id="recupera" name="recupera" class="btn btn-success">Enviar</button>
                                          </fieldset>
                                    </form>
                              </div>
                        </div>
                  </div>
            </div>