<%- contentFor('body') %>
	<!-- Corpo da página -->
	<div class="container" align="center">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"></div>
			<div class="card card-container">
				<div>
					<h2 id="o-bona" class="text-uppercase">Texto aqui</h2>
					<p>****
					</p>
					<p>
						*****</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	</body>

	</html>